.acrylic {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.acrylic::before {
  content: "";
  position: absolute;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  background-blend-mode: exclusion;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  filter: url(#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='8');
}

.acrylic::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.8);
}

.acrylic.medium::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.enroll-form input {
  width:90%;
}

.btn {
  margin-left:0.5vw;
}
